<ion-header>

  <ion-navbar>
    <ion-title>Ziel {{(editing)?'bearbeiten':'hinzufügen'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="outer-content">
  <div class="mapShow" id="sMap" #sMap>
    <ion-searchbar placeholder="Adresssuche" [(ngModel)]="searchInputValue" (ionInput)="onInputSearch()" (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <ion-list>

      <ion-item *ngFor="let address of possibleAddresses" (click)="addressSelected(address)">
        {{address.formattedAddress}}
      </ion-item>


    </ion-list>
  </div>
  <ion-list margin-top>
    <ion-list-header>
      Konfiguration
    </ion-list-header>
    <ion-item>
      <ion-label color="primary" stacked>* Name</ion-label>
      <ion-input maxLength="100" placeholder="* Name eingeben" [(ngModel)]="currentRoute.name" clearInput></ion-input>
    </ion-item>
    <ion-item *ngFor="let info of getInfoKeys()">
      <ion-label color="primary" stacked>{{ addressInfos[info] }}</ion-label>
      <ion-input maxLength="100" placeholder="{{ addressInfos[info] }} eingeben" (focusout)="onPropsFocusOut($event)"
        [(ngModel)]="currentRoute.address[info]" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Erinnerung</ion-label>
      <ion-textarea autosize maxLength="500" [(ngModel)]="currentRoute.erinnerung" placeholder="Erinnerung eingeben"></ion-textarea>
    </ion-item>

    <ion-item>
      <p>
        Mit * markierte Felder sind Pflichtfelder!
      </p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Wiederholung
    </ion-list-header>
    <ion-item *ngFor="let day of currentRoute.dayKeys()">
      <ion-label>{{ dayFullname[day] }}</ion-label>
      <ion-toggle color="secondary" [(ngModel)]="currentRoute.activeDays[day]"></ion-toggle>
    </ion-item>
    <button margin-top ion-item (click)="storeInput()" [disabled]="!validateInput()" color="secondary" outline
      detail-none text-center>Speichern</button>
  </ion-list>
</ion-content>
