<ion-header>
  <ion-toolbar>
    <ion-title>Route</ion-title>

    <ion-buttons start *ngIf="getCount() && !isPlaying()">
      <button start ion-button (click)="switchReorder()">
        {{reordering?'Fertig':'Umsortieren'}}
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="canCreate">
      <button ion-button (click)="createRoute()">
        Hinzufügen
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">

  <ion-refresher *ngIf="!getAutoRefresh()" (ionRefresh)="doRefresh($event)" [enabled]="!reordering">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Ziehe um Fahrtenhistorie zurückzusetzen!"
      refreshingSpinner="circles" refreshingText="Zurücksetzung...">
    </ion-refresher-content>
  </ion-refresher>

  <route-liste [reorder]="reordering"></route-liste>
</ion-content>

<ion-footer [class]="!getRoute()?'hide':''">
  <ion-item *ngIf="getRoute()" class="mainToolbar" no-lines>
    <div class="text-ellipsis" (press)="onPress()">
      {{getRoute().name}}
      <p>
        {{getRoute().address.formattedAddress}}
      </p>
    </div>
    <div item-end class="playButtons">
      <button color="dark" (click)="prev()" ion-button large clear no-padding>
        <ion-icon name="rewind"></ion-icon>
      </button>
      <button color="dark" (click)="play()" ion-button large clear no-padding>
        <ion-icon [name]="isPlaying()?'pause':'play'"></ion-icon>
      </button>
      <button color="dark" (click)="next()" ion-button large clear no-padding>
        <ion-icon name="fastforward"></ion-icon>
      </button>
    </div>
  </ion-item>
</ion-footer>
