// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.text-ellipsis {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.toast-message,
.action-sheet-title,
.action-sheet-sub-title {
    white-space: pre-line;
}

.action-sheet-title {
    font-weight: bold !important;
}

.platform-ios {
    .action-sheet-sub-title {
        font-size: $action-sheet-ios-title-font-size;
        padding: $action-sheet-ios-title-padding;
        color: $action-sheet-ios-title-color;
        border-bottom: $hairlines-width $action-sheet-ios-button-border-style $action-sheet-ios-button-border-color;
    }
}
