route-view {
    div {
        &.dayHolder {
            text-align: center;
        }
        &.inactive {
            opacity: 0.5;
        }
        ion-badge {
            margin: 5px 2px;
            font-size: 10px;
            height: 14px;
            width: 30px;
        }
        span.dot {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            display: inline-block;
            background-color: #488aff;
        }
    }
}
