<ion-header>

  <ion-navbar>
    <ion-title>Einstellungen</ion-title>
  </ion-navbar>


</ion-header>


<ion-content class="outer-content">

  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="/assets/imgs/logo.png">
      </ion-avatar>
      <h2>Routenfahrer</h2>
      <p>v.1.0.5</p>
    </ion-item>
    <button ion-item (click)="openPage('Bedienungshilfe')">
      Bedienungshilfe
    </button>
    <button ion-item (click)="openPage('Information')">
      Information
    </button>
    <a ion-item href="https://paypal.me/mrsahin">
      Unterstützen
    </a>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Route
    </ion-list-header>
    <ion-item>
      <ion-label>
        Nur anstehende Ziele anzeigen
      </ion-label>
      <ion-toggle color="secondary" [(ngModel)]="showTaskOnly"></ion-toggle>
    </ion-item>
    <button ion-item (click)="importCsv()" detail-none>
      Route importieren
    </button>
    <button ion-item (click)="exportCsv()" detail-none>
      Route als CSV exportieren
    </button>
    <button ion-item (click)="turnAllActiveRoutesOff()" detail-none>
      Status von Zielen zurücksetzen
    </button>

    <button ion-item (click)="deleteAllRoutes()" class="delBtn" text-center detail-none>
      Alle Ziele löschen
    </button>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Fahrten
    </ion-list-header>
    <ion-item>
      <ion-label>Automatisch fortführen
        <p>Das nächste Ziel automatisch navigieren.</p>
      </ion-label>
      <ion-toggle color="secondary" [(ngModel)]="autoRun"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Automatisch zurücksetzen
        <p>Fahrtenhistorie täglich zurücksetzen.</p>
      </ion-label>
      <ion-toggle color="secondary" [(ngModel)]="autoRefresh"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="autoRefresh" text-wrap detail-push>
      <ion-label>
        <p>Zurücksetzung bei Neustart ab</p>
        <p>{{getNextAutoRefreshDate()}} Uhr</p>
      </ion-label>
      <ion-datetime cancelText="Abbrechen" doneText="Ok" displayFormat="HH:mm" [(ngModel)]="autoRefreshHour"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-list radio-group [ngModel]="selectedNavApp">

    <ion-list-header>
      Navigation
    </ion-list-header>

    <ion-item *ngIf="!aviableNavApp.length">
      Keine Navigationsanwendungen verfügbar!
      <p>Installieren Sie gängige Navigationen!</p>
    </ion-item>

    <ion-item *ngFor="let nav of aviableNavApp">
      <ion-label>{{nav.name}}</ion-label>
      <ion-radio [value]="nav.key" (ionSelect)="onSelectNav(nav.key)"></ion-radio>
    </ion-item>

  </ion-list>

</ion-content>
