<div *ngIf="!showEmptyInfo()" class="notFoundIcon" text-center>
  <div>

    <ion-icon name="alert" isActive="false" margin-bottom></ion-icon>
    <p>
      {{getInactiveText()}}
    </p>
  </div>

</div>
<ion-list #listOfRoutes *ngIf="getLength()" [reorder]="canReorder" (ionItemReorder)="reorder($event)">


  <ion-item-sliding *ngFor="let item of getRoutes(); let itemIndex = index" [class.hide]="dontSlide() && item.isTask()">
    <ion-item (press)="onPress(item)" text-wrap>
      <ion-icon item-start *ngIf="item.isTask()" [name]="
      (item.done)
      ?'checkmark'
      :(getIndex() == itemIndex)
      ?'car'
      :'pin'">
      </ion-icon>

      <route-view [route]="item"></route-view>
    </ion-item>

    <ion-item-options side="left" *ngIf="!canReorder">
      <button icon-start ion-button color="secondary" (click)="play(itemIndex)">
        <ion-icon [name]="item.done?'refresh-circle':'play'"></ion-icon>
        Starten
      </button>
      <button icon-start ion-button (click)="edit(item)">
        <ion-icon name="cog"></ion-icon>
        Bearbeiten
      </button>
    </ion-item-options>

    <ion-item-options side="right" *ngIf="!canReorder && !isPlaying()">
      <button icon-start ion-button color="danger" (click)="delete(item)">
        <ion-icon name="trash"></ion-icon>
        Löschen
      </button>
      <button icon-start ion-button [color]="item.isTask()?'dark':'light'" (click)="changeStatus(item)">
        <ion-icon name="switch"></ion-icon>
        {{
        item.isTask()
        ?'Off'
        :'On'
        }}
      </button>
    </ion-item-options>

  </ion-item-sliding>


</ion-list>
